@import '../../variables';

.projectScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  &__header {
    display: flex;
    padding: 60px 0 30px;

    &__link {
      text-decoration: none;
      padding: 8px 8px 8px 4px;
      border: 2px solid $color-blue;
      border-radius: 4px;
      color: $color-blue;
      text-transform: uppercase;
      background: rgba(132, 203, 243, 0.2);
      transition: all 0.3s ease-in;
      display: flex;
      align-items: center;

      &:hover {
        border: 2px solid $color-blue-highlight;
        color: $color-blue-highlight;
      }
    }
  }
}