@import '../../variables';

.project {
  position: relative;

  &__link {
    color: $color-gray;
  }

  // TODO: autoprefixer
  // FIXME: image sizing
  &__image {
    max-width: 25vw;
    filter: grayscale(100%);
    filter: $color-gray;
    position: relative;
    border: 5px solid $color-white;
    border-bottom: 0px;
  }

  &__title {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;

    &__background {
      height: 100%;
      padding: 15px;
      font-weight: 800;
      font-size: 36px;
      line-height: 1.5;
      background-color: $color-yellow;
      opacity: 1;
      transition: opacity 0.3s ease-in-out;

      &:hover {
        opacity: 0.75;
      }
    }
  }
}