/* common elements */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
}

body {
  font-family: 'Droid Sans Mono', 'Courier', monospace;
  font-size: 0.9em;
  color: #3c3c3c;
  line-height: 1.9em;
}

a:hover {
  color: #000;
  /*text-decoration: underline;*/
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

/* set animation link underline */
/* give it ID of underline */

/*#underline {
  position: relative;
  color: #0288D1;
  text-decoration: none;
}

#underline:hover {
  color: #0288D1;
}

#underline:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0288D1;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#underline:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
*/
.container {
  width: 85%;
}

/* Particles.js */

#particles-js{
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: .90;
  z-index: -1;
}

#canvas, #container, #particles-js {
  position: absolute;
}

#canvas {
  opacity: .90;
  z-index: -1;
}

/* Main */

#container-flex {
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: flex-start;
}

.content-container {
  order: 2;
  flex: 2 auto;
  width: 100%
}

div.section-background {
  border-top: 1.5vw solid #fff;
  border-bottom: 1.5vw solid #fff;
  padding: 0 1.5vw 0 1.5vw;
  margin: 0 auto;
  height: 90vh;
  width: 100%;
  margin-top: 5vh;
  background-color: #fff;
  overflow: scroll;
}

/* Projects Container */

#card-container {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 1vh;
  align-content: center;
/*  margin-left: 1vw;*/
/*  display: inline-flex;
*/}

/* Project */

.project-description {
  margin-bottom: 0;
}

.project-content {
  margin-top: -2vh;
}

#carousel-container {
  width: 100%;
}

.image-container {
  width: 100%;
}

#carousel-image-container {
  width: 100%;
}

.carousel-image {
  max-height: 500px;
  width: 100%;
}

/* Card */

.card-image-holder {
  position: relative;
/*  margin-right: 2vw;*/
/*  margin-bottom: 3vh;*/
  margin: .5vw;
}

.card-image-holder:hover {
  color: yellow;
  opacity: 1;
}

.image-label {
  position: absolute;
  /*right: 15px;
  top: 15px;*/
  right: 5%;
  top: 7%;
}

.image-label mark {
  font-size: 1.2em;
  padding: 0.25vw;
  line-height: 1.5em;
}

.card-image-holder .card-image-link img.card-border {
  max-height: 31vh;
  max-width: 26.5vw;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  filter: gray;
  -webkit-transition: all .3s linear;
  transition: all .3 linear;
}

.card-image-holder .card-image-link img.card-border:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  filter: none;
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all .3s linear;
  transition: all .3s linear;

}

button.waves-effect.waves-light.btn {
  margin: 1vh 1vw 0 0;
  font-family: 'Droid Sans Mono', 'Courier', monospace;
}

/* About */

h3#about-header.center-align {
  text-decoration: underline;
  margin: 2vw;
}

#about-header {
  color: #0288D1;
}

#about-image-container {
  margin: 0 auto;
  margin-top: 2vh;
  height: 35vh;
  width: 35vh;
}

#about-image {
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%;
}

#description-content {
  margin: 0 auto;
  padding: 0.5vh 4vw 0.5vh 4vw;
}

/* Resume */

.details-enter:before {
  display: none;
  opacity: 0;
}

.details-enter {
  /*transform: translateY(-200%);*/
  opacity: 0.01;
}

.details-enter.details-enter-active {
  opacity: 1;
  transition: opacity 0.3s linear;
  transition-delay: 0.3s linear;
}

.details-leave {
  opacity: 1;
}

.details-leave.details-leave-active {
/*  transform: translateY(-200%);*/
  opacity: 0.01;
  transition: opacity 0.3s linear;
}

#education-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

#resume-col-1 {
  order: 1;
}

#resume-col-2 {
  order: 2;
}

#resume-project-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
}

.resume-project {
  margin: 5px;
  width: 33%;
}

.header-bar {
  color: #fff;
  width: 100%;
  background-color: #0288D1;
  padding: 5px;
  margin-bottom: 2vh;
}

.header-bar:hover {
  background-color: #01517d;
  -webkit-transition: background-color .3s linear;
  transition: background-color .3s linear;
}

.header-bar:active {
  background-color: #01517d;
}

.resume-job {
  align-items: flex-start;
  justify-content: flex-start;
}

.job-dates {
  float: right;
}

/* Menu Component */

#menu-container {
  order: 1;
  flex: 1 auto;
  width: 40%;
  padding-right: 5vw;
}

#menu {
  background-color: #0288D1;
  color: #fff;
  width: 100%;
  border-radius: 15px;
  margin-top: 5vh;
  margin-bottom: 1vh;
  font-family: 'Ubuntu', 'sans-serif'
}

.menu-header {
  padding: 5px;
  color: #fff;
}

.menu-item {
  padding: 5px;
  border-top: 1px solid #fff;
}

.menu-item:hover {
  background-color: #fff;
  color: #0288D1;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.active {
  background-color: #fff;
  color: #0288D1;
}

.menu-item.contact:hover {
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.menu-link {
  color: #fff;
}

/* Social Icons */

span.fa-stack {
  margin: 10px;
}

.fa {
  color: #b1b1b1;
}

.fa:hover {
  color: #3c3c3c;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

/* Project Form */

.thumbnail-container {
  max-width: 300px;
  max-height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  display: inline-block;
}

.thumbnail {
  height: 100%;
  width: 100%;
}

/* hidden scrollbar */

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

::-webkit-scrollbar-corner {
  border-radius: 10px;
}