h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu'
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
  font: #3c3c3c;
  line-height: 1.9em;
}

.container {
  width: 80%;
}

.image-container {
  height: 250px;
  width: 450px;
  margin: 10px 10px 75px 10px;
}

.project-image {
  max-width: 100%;
  max-height: 100%;
}

#about-header {
  color: #0288D1;
}

#about-background {
  margin: 0 auto;
  height: 90vh;
  width: 75%;
  margin-top: 5vh;
}

#about-image-container {
  margin: 0 auto;
  height: 300px;
  width: 300px;
}

#about-image {
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%;
}

#description-content {
  margin: 0 auto;
  padding: 5px 40px 5px 40px;
}

.card-paragraph {
  overflow: hidden; 
  height: 60px;
  line-height: 20px;
}

button.waves-effect.waves-light.btn {
  margin: 10px 10px 10px 0;
}

.header-bar {
  color: #fff;
  width: 100%;
  background-color: #0288D1;
  padding: 5px 5px 5px 15px;
  margin-bottom: 15px;
}

#container-flex {
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: flex-start;
}

#projects-container {
  order: 2;
  flex: 2 auto;
  width: 100%
}

/* Menu Component */

#menu-container {
  order: 1;
  flex: 1 auto;
  width: 45%;
  padding-right: 100px;
}

#menu {
  background-color: #0288D1;
  color: #fff;
  width: 100%;
  border-radius: 15px;
  margin: 50px 10px 0 0;
  font-family: 'Ubuntu'
}

.menu-header {
  padding: 5px;
}

.menu-item {
  padding: 5px;
  border-top: 1px solid #fff;
}

/* hover styles not quite working yet */

.menu-item:hover {
  background-color: #fff;
  color: #0288D1;
}

.menu-link:hover {
  background-color: #fff;
  color: #0288D1;
}

div.menu-item > h5 > a {
  color: #fff;
}

/* Particles.js */

#particles-js{
  width: 100%;
  background-color: #fff;
  background-image: url('');
  background-position: 50% 50%;
  background-repeat: no-repeat;
}