.image-container {
  width: 100%;
}

#carousel-image-container {
  width: 100%;
}

.carousel-image {
  max-height: 500px;
  width: 100%;
  cursor: e-resize;
}

#counter {
  color: #b1b1b1;
  margin-right: 2.5%;
}

@media screen and (max-width: 800px) {
  .carousel-image {
    padding-top: 1.5vh;
  }
}