@import '../../variables';

.card, .card__background {
  height: 100%;
  width: 100%;
  max-width: 800px;
}

.card {
  overflow: hidden;

  &__background {
    overflow-y: scroll;
  }
}

@media screen and (max-width: $break-large) {
  .card {
    overflow-y: scroll;

    &__background {
      height: auto; 
    }
  }
}

@media screen and (min-width: $break-medium) and (max-width: $break-large) {
  .card, .card__background {
    max-width: 700px;
  }
}