.details-enter:before {
  display: none;
  opacity: 0;
}

.details-enter {
  opacity: 0.01;
}

.details-enter.details-enter-active {
  opacity: 1;
  transition: opacity 0.3s linear;
  transition-delay: 0.3s linear;
}

.details-leave {
  opacity: 1;
}

.details-leave.details-leave-active {
  opacity: 0.01;
  transition: opacity 0.3s linear;
}

#education-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

#resume-col-1 {
  order: 1;
}

#resume-col-2 {
  order: 2;
}

#resume-project-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
}

.resume-project {
  margin: 5px;
  width: 33%;
}

.header-bar {
  color: #fff;
  width: 100%;
  background-color: #0288D1;
  padding: 5px;
  margin-bottom: 2vh;
}

.header-bar:hover {
  background-color: #01517d;
  -webkit-transition: background-color .3s linear;
  transition: background-color .3s linear;
}

.header-bar:active {
  background-color: #01517d;
}

.resume-job {
  align-items: flex-start;
  justify-content: flex-start;
}

.job-dates {
  float: right;
}