@import '../../variables';

.carousel {

  &__imageContainer {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__image, &__imageContainer {
    width: 100%;
    max-width: 600px;
    background: $color-white;
  }

  &__nav {
    position: absolute;
    padding: 6px;
    border: 2px solid $color-text;
    border-radius: 4px;
    background: rgba(40, 44, 53, 0.35);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;

    &__item {
      margin: 0 8px;

      svg {
        height: 12px;
        width: 12px;
        color: $color-text;
        background: $color-text;
        border-radius: 50%;
        transition: all 0.3s ease-in-out;

        &:hover {
          color: $color-red;
          background: $color-red;
        }
      }

      &--active svg {
        color: $color-red;
        background: $color-red;
      }
    }

    &--back {
      left: 15px;
    }

    &--forward {
      right: 15px;
    }

    &--jump {
      bottom: 15px;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
}