/* Fonts */

$font-family: 'Inconsolata', monospace;

/* Colors */


$color-white: #fff;
$color-black: #111;
$color-gray: #282c35;
$color-gray-accent: #8a8d91;
$color-yellow: #ffeb3b;

$color-green: #8BEFCD;
$color-blue: #84CBF3;
$color-blue-highlight: #3eaeec;
$color-purple: #DDAAEF;
$color-red: #F8B9B9;
$color-orange: #F2CB8C;
$color-text: rgba(255, 255, 255, 0.90);

/* Breakpoints */

$break-small: 320px;
$break-medium: 767px;
$break-large: 1025px;