/* Fonts */

$font-family: 'Inconsolata', monospace;

/* Colors */


$color-white: #fff;
$color-black: #111;
$color-gray: #282c35;
$color-gray-highlight: #52565d;
$color-yellow: #ffeb3b;

/* Light Theme */

$color-blue: #4d84f1;
$color-blue-dark: #355ca8;

/* Dark Theme */

$color-purple: #6653ff;
$color-purple-highlight: #8475ff;
$color-text: rgba(255, 255, 255, 0.88);

/* Breakpoints */

$break-small: 320px;
$break-medium: 768px;
$break-large: 1025px;