@import 'variables';

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Droid Sans Mono', 'Courier', monospace;
  font-size: 0.9em;
  color: $gray-primary;
  line-height: 1.9em;
}

/* Particles.js */

#particles-js{
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: .90;
  z-index: -1;
}

#canvas, #container, #particles-js {
  position: absolute;
}

#canvas {
  opacity: .90;
  z-index: -1;
}

#about-site {
  position: fixed;
  bottom: 7.5vh;
  left: 45%;
  right: 20%;
}

/* App */

.AppContainer {
  display: flex;

  &__screens {
    order: 2;
    width: 100%;
    height: 100%;
  }
}